body{
    background-color: black;
}

header {
    font-weight: bold;
    color: #f5bea4;
    background-color: #4a592f;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 20px;
    padding-left: 12%;
    padding-top: 1px;
    padding-bottom: 1px;
}

.description {
    color: #f5bea4;
    font-size: large;
    margin-left: 20px;
    margin-top: 25px;
    font-size: larger;
    text-decoration: underline;
}